:root {
  --clr-bg: #131518;
  --clr-main-bg: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  --clr-heading: #fff;
  --clr-text: #969fad;

  --ff-primary: "Overpass", sans-serif;
  --fs-base: 0.875rem;
  --fw-base: 400;
}

/* FONTS */

@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/Overpass-Regular.woff2") format("woff2"),
    url("../assets/fonts/Overpass-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("../assets/fonts/Overpass-Bold.woff2") format("woff2"),
    url("../assets/fonts/Overpass-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

ol {
  list-style: none;
}

input,
button {
  font: inherit;
}

/* GENERAL */

body {
  background-color: var(--clr-bg);
  font-family: var(--ff-primary);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  color: var(--clr-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  min-height: 100vh;
}

/* MAIN */

main {
  background: var(--clr-main-bg);
  border-radius: 0.9375rem;
  max-width: 25.75rem;
}

form {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.form__logo {
  background-color: #262e38;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.form__title {
  color: var(--clr-heading);
  font-size: 1.5rem;
  margin-bottom: 0.63rem;
}

.form__text {
  line-height: 1.375rem;
  margin-bottom: 1.5rem;
}

.form__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

input[type="radio"] {
  display: none;
}

label {
  display: flex;
  background-color: #262e38;
  color: #7c8798;
  font-weight: 700;
  text-align: center;
  line-height: 1.5rem;
  letter-spacing: 0.01094rem;
  padding: 0.55rem 1.1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

label:hover {
  background-color: #fc7614;
  color: #fff;
}

label.focused {
  background-color: #7c8798;
  color: #fff;
}

button {
  background-color: #fc7614;
  border-radius: 1.40625rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.11669rem;
  padding: 0.75rem 0;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:is(:hover, :focus) {
  background-color: #fff;
  color: #fc7614;
}

button:disabled {
  cursor: not-allowed;
}

button:disabled:is(:hover, :focus) {
  background-color: #fc7614;
  color: #fff;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.12rem 1.5rem 2.31rem 1.5rem;
}

.confirmation__image {
  margin-bottom: 1.5rem;
}

.confirmation__selection {
  background-color: #262e38;
  text-align: center;
  border-radius: 1.40625rem;
  color: #fc7614;
  line-height: 1.375rem;
  padding: 0.31rem 0.75rem;
  margin-bottom: 1.5rem;
}

.confirmation__title {
  color: var(--clr-heading);
  font-size: 1.5rem;
  margin-bottom: 0.63rem;
}

.confirmation__text {
  line-height: 1.375rem;
  text-align: center;
}

/* MEDIA QUERIES */

@media (min-width: 25.75rem) {
  main {
    border-radius: 1.875rem;
  }

  form {
    padding: 2rem 2.44rem 2rem 2rem;
  }

  .form__logo {
    margin-bottom: 1.88rem;
  }

  .form__title {
    font-size: 1.75rem;
    margin-bottom: 0.44rem;
  }

  .form__text {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }

  .form__list {
    margin-bottom: 2rem;
  }

  label {
    font-size: 1rem;
    padding: 0.85rem 1.35rem;
  }

  button {
    font-size: 0.9375rem;
    letter-spacing: 0.125rem;
  }

  .confirmation {
    padding: 2.81rem 2.5rem 2.81rem 2rem;
  }

  .confirmation__image {
    margin-bottom: 2rem;
  }

  .confirmation__selection {
    font-size: 0.9375rem;
    padding: 0.25rem 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 2rem;
  }

  .confirmation__title {
    font-size: 1.75rem;
    margin-bottom: 0.44rem;
  }

  .confirmation__text {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
}
